*{ box-sizing: border-box;

}
body {
    display: grid;
    grid-template-areas: "nav header footer";
}

.container{
    display: grid;
    grid-template-rows:  100px 100px;
    grid-template-columns: 100px 300px;
    height: 200px;
    width: 400px;
    background-color: blue;
            grid-template-areas:
                        "nav header"
                        "nav footer";
}

.header {
    display: grid;
    grid-area: header;

    height: 50px;
    width: 100px;
    background: white;
}

.nav {
    display: grid;
    grid-area: nav;

    height: 30px;
    width: 30px;
    background: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.footer {
    display: grid;
    grid-area: footer;

    height: 100px;
    width: 200px;
    background: red;
}
